$mainColor: rgb(255, 0, 121);
$secondaryColor: rgb(131, 133, 138);
.wrap {
  width: 75%;
  margin: 5vh auto auto auto;
}
@import "../../components/Header/style";
@import "../../components/TabBar/style";
@import "../../components/DisplayMovie/style";
@import "../../pages/MovieDetails/style";
@import "../../components/Header/Nav/style";
