.wrap {
  width: 75%;
  margin: 5vh auto auto auto;
}

header {
  min-height: 40rem;
  height: 50vh;
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 5rem 10rem -2.2rem rgba(0, 0, 0, 0.6), inset 0 -13rem 15rem 0 rgba(0, 0, 0, 0.6);
}

.movie-metadata {
  width: 90%;
  height: 18vh;
  margin-bottom: 1vh;
  text-overflow: ellipsis;
}

.rating {
  height: 80%;
  background-color: rgba(8, 1, 43, 0.75);
  flex: 1;
  border: 1px solid #83858a;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.rating h3 {
  font-size: 1.3rem;
  margin: 0;
}
.rating h2 {
  margin: 0;
  border: 1px solid #ff0079;
  color: #ff0079;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  display: inline-block;
}

.metadata {
  height: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.metadata button {
  font-size: 1.2rem;
  background-color: #ff0079;
  color: white;
  flex: 1;
  width: 13rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.movie-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.movie-title span {
  font-size: 3.5rem;
  font-weight: 900;
}

.movie-genres {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.movie-genres li {
  list-style-type: none;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}
.movie-genres li:last-of-type {
  border-left: 1px solid white;
  padding-left: 1rem;
}

.blur {
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur hr {
  width: 80%;
  color: white;
}

.quick-search {
  width: 20%;
  height: 80vh;
  border-radius: 1rem;
  border: 1px solid white;
  background: rgba(255, 0, 121, 0.5);
  display: flex;
  flex-direction: column;
  outline: none;
}

.quick-search-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 1rem;
}
.quick-search-input input[type=text] {
  outline: none;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-style: italic;
  height: 3rem;
  border: 1px solid black;
}

.quick-search-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 15rem));
  grid-template-rows: repeat(3, minmax(15rem, 20rem));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
}

.quick-search-movie {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
}
.quick-search-movie:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.quick-search-movie a img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1602px) {
  .quick-search-grid {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 10rem));
    grid-template-rows: repeat(3, minmax(10rem, 15rem));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
  }

  .rating h3 {
    font-size: 1rem;
  }

  .movie-metadata {
    min-height: 15rem;
  }
}
@media (max-width: 1025px) {
  header {
    background-attachment: scroll;
  }

  .quick-search {
    height: 100vh;
    width: 100%;
  }
  .quick-search a {
    height: 10vh;
  }

  .rating {
    margin-top: 10%;
    height: 50%;
    width: 100%;
  }
  .rating h3 {
    font-size: 0.8rem;
  }
  .rating h2 {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .metadata {
    flex: 3;
  }
  .metadata button {
    font-size: 1rem;
    width: 10rem;
    min-height: 3rem;
  }

  .movie-title span {
    font-size: 3rem;
    font-weight: 900;
  }

  .movie-genres li {
    list-style-type: none;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
  }
  .movie-genres li:last-of-type {
    border-left: 1px solid white;
    padding-left: 1rem;
  }

  .movie-metadata {
    height: 18rem;
  }

  .quick-search-grid {
    height: 50vh;
    grid-template-columns: repeat(3, minmax(7rem, 14rem));
    grid-template-rows: repeat(2, minmax(16rem, 20rem));
  }
}
@media (max-width: 576px) {
  .movie-title span {
    font-size: 1.8rem;
  }

  .movie-genres {
    min-height: 3.8rem;
  }
  .movie-genres li {
    font-size: 1.2rem;
  }

  .quick-search {
    height: 100vh;
    width: 100%;
  }
  .quick-search a {
    height: 20vh;
  }

  .quick-search-grid {
    height: 50vh;
    grid-template-columns: repeat(2, minmax(5rem, 10rem));
    grid-template-rows: repeat(3, minmax(10rem, 15rem));
  }
}
@media (orientation: landscape) and (max-width: 1025px) {
  .quick-search-grid {
    grid-template-columns: repeat(6, minmax(5rem, 10rem));
    grid-template-rows: repeat(1, minmax(10rem, 15rem));
  }

  .quick-search {
    height: 100vh;
    width: 100%;
  }
  .quick-search a {
    height: 30vh;
  }
}
.TabBar {
  width: 75%;
  height: 5vh;
  margin: 5vh auto auto auto;
  display: flex;
}

.tabs {
  height: 5vh;
  flex: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tabs button {
  margin-right: 5rem;
  font-size: 1.5rem;
  background-color: white;
  height: 5vh;
  width: 15rem;
  outline-color: #ff0079;
  cursor: pointer;
}
.tabs button:active {
  outline: none;
}
.tabs select {
  height: 5rem;
  background-color: white;
  outline-color: #ff0079;
  cursor: pointer;
  margin-bottom: 0.75rem;
}
.tabs select:active {
  outline: none;
}

.change-view {
  flex: 1;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-inputs {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.search-inputs input[type=text] {
  border: none;
  border-bottom: 1px solid #83858a;
  outline: none;
  height: 110%;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}
.search-inputs input[type=text]:first-child {
  margin-right: 2rem;
}
.search-inputs input[type=text]:last-child {
  margin-left: 2rem;
}
.search-inputs input[type=text]:focus {
  border-bottom: 1px solid #ff0079;
}

@media (max-width: 1025px) {
  .search-inputs {
    flex-direction: column;
    height: 5rem;
    width: 100%;
  }
  .search-inputs input[type=text] {
    border: 1px solid #83858a;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .search-inputs input[type=text]:hover {
    border: 1px solid #ff0079;
  }
  .search-inputs input[type=text]:first-child {
    margin-right: 0;
  }
  .search-inputs input[type=text]:last-child {
    margin-left: 0;
  }

  .TabBar {
    width: 100%;
    height: 65vh;
    margin: 0 auto;
    display: block;
  }

  .tabs {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tabs button {
    margin-top: 2rem;
    margin-right: 0;
    font-size: 1.5rem;
    height: 5vh;
    border: none;
    font-weight: bold;
  }
  .tabs select {
    margin-top: 2rem;
    height: 5vh;
    background: white;
    border: none;
    font-weight: bold;
  }
}
@media (max-width: 1025px) and (orientation: landscape) {
  .tabs button {
    height: 3rem;
    border: none;
  }
  .tabs select {
    height: 3rem;
    border: none;
  }
}
.movie {
  height: 22.5rem;
  margin-bottom: 5px;
  width: 100%;
  background: whitesmoke;
  cursor: pointer;
  box-shadow: 0px 0px 4px #83858a;
}
.movie:hover {
  transform: scale(1.05);
  transition: 0.1s;
  border: 1px solid #ff0079;
}
.movie .img {
  width: 15rem;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  height: 100%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 2;
  color: black;
}

.description {
  flex: 5;
  margin-right: 1rem;
  color: #83858a;
}
.description h5 {
  font-size: 1.2rem;
}

.date {
  flex: 1;
  color: #ff0079;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
}

.grid-image {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.grid-details {
  height: 8rem;
  color: #545353;
  font-size: 1.5rem;
  display: flex;
  background-color: whitesmoke;
}

.grid-movie {
  box-shadow: 0 0 4px #83858a;
  border-radius: 1rem;
}
.grid-movie:hover {
  transform: scale(1.05);
  transition: 0.1s;
  border: 2px solid #ff0079;
}

.grid-title {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.grid-rate {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate {
  height: 70%;
  width: 70%;
  border: 1.5px solid #ff0079;
  font-size: 2rem;
  display: flex;
  color: #ff0079;
  justify-content: center;
  align-items: center;
}

.details-wrap {
  width: 100%;
  min-height: 50vh;
  display: flex;
}

.details-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-data {
  flex: 2;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.details-data h1 {
  font-size: 3rem;
}
.details-data h2 {
  font-size: 2rem;
  color: #ff0079;
  font-weight: 600;
  font-style: italic;
}
.details-data h4 {
  font-size: 1.5rem;
  color: #83858a;
  font-weight: 400;
  font-style: italic;
}
.details-data h3 {
  font-size: 1.5rem;
}
.details-data h1, .details-data h2, .details-data h3, .details-data h4 {
  margin: 0;
  margin-top: 1.5rem;
}

@media (max-width: 1025px) {
  .details-data {
    flex: 2;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
  }
  .details-data h1 {
    font-size: 2rem;
  }
  .details-data h2 {
    font-size: 1.5rem;
    color: #ff0079;
    font-weight: 600;
    font-style: italic;
  }
  .details-data h4 {
    font-size: 1rem;
    color: #83858a;
    font-weight: 400;
    font-style: italic;
  }
  .details-data h3 {
    font-size: 1.2rem;
  }
  .details-data h1, .details-data h2, .details-data h3, .details-data h4 {
    margin: 0;
    margin-top: 1.2rem;
  }
}
@media (max-width: 576px) {
  .details-wrap {
    flex-direction: column;
  }

  .details-data {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
  }
  .details-data h1 {
    font-size: 2rem;
  }
  .details-data h2 {
    font-size: 1.5rem;
    color: #ff0079;
    font-weight: 600;
    font-style: italic;
  }
  .details-data h4 {
    font-size: 1.2rem;
    color: #83858a;
    font-weight: 400;
    font-style: italic;
  }
  .details-data h3 {
    font-size: 1.2rem;
  }
}
nav {
  width: 90%;
  height: 7vh;
  display: flex;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-size: 3.5rem;
  cursor: pointer;
}
.logo span:hover {
  color: #ff0079;
}

.menu {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu li {
  list-style-type: none;
  margin-right: 2rem;
  font-size: 1.5rem;
}
.menu button {
  margin-right: 2rem;
  font-size: 1.5rem;
  background-color: #ff0079;
  color: white;
  width: 10rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
}
.menu input[type=text] {
  margin-right: 2rem;
  border-radius: 1rem;
  font-weight: 400;
  font-style: italic;
  padding-left: 1rem;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 15vh;
  width: 50%;
  height: 84vh;
  border-radius: 1rem 0 0 1rem;
  background-color: white;
  z-index: 1;
  box-shadow: -7px -1px 29px -1px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1025px) {
  .languages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    border-radius: 1rem;
    background: whitesmoke;
  }

  .mobile-menu {
    width: 27%;
  }

  .menu img {
    z-index: 0;
    width: 48px;
    height: 48px;
    position: fixed;
    top: 0;
    right: 5px;
    filter: grayscale(0);
  }
  .menu img:first-of-type {
    display: inline;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 5px;
    right: 69px;
  }

  .x {
    z-index: 1;
    width: auto;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .logo span {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  nav {
    height: 7vh;
  }

  .logo span {
    font-size: 2.5rem;
  }

  .mobile-menu {
    top: 9vh;
    width: 50%;
    height: 90vh;
  }
}
.loader {
  z-index: 10;
  border: 8px solid whitesmoke;
  border-top: 8px solid #ff0079;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.loading {
  height: 4rem;
  display: flex;
  align-items: center;
}

.obj {
  width: 0.6rem;
  height: 4rem;
  background: #ff0079;
  margin: 0 0.3rem;
  border-radius: 1rem;
  animation: loading 0.4s infinite;
}
.obj:nth-child(2) {
  animation-delay: 0.05s;
}
.obj:nth-child(3) {
  animation-delay: 0.1s;
}
.obj:nth-child(4) {
  animation-delay: 0.15s;
}
.obj:nth-child(5) {
  animation-delay: 0.2s;
}
.obj:nth-child(6) {
  animation-delay: 0.25s;
}
.obj:nth-child(7) {
  animation-delay: 0.3s;
}
.obj:nth-child(8) {
  animation-delay: 0.35s;
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 4rem;
  }
  100% {
    height: 0;
  }
}

/*# sourceMappingURL=style.css.map */
